[Desktop Entry]
Type=Application
Name=GnomeQS
Name[pt_BR]=GnomeQS
Comment=Share files with nearby devices
Comment[pt_BR]=Compartilhe arquivos com dispositivos próximos
Exec=gnomeqs
Icon=io.github.weversonl.GnomeQuickShare
Categories=Network;FileTransfer;
Keywords=share;nearby;file;transfer;quickshare;
StartupNotify=true
StartupWMClass=GnomeQS
Actions=open;receive;send;

[Desktop Action open]
Name=Open
Name[pt_BR]=Abrir
Exec=gnomeqs

[Desktop Action receive]
Name=Receive
Name[pt_BR]=Receber
Exec=gnomeqs --gapplication-action show-receive

[Desktop Action send]
Name=Send
Name[pt_BR]=Enviar
Exec=gnomeqs --gapplication-action show-send
